<a href="/" class="btn-back"><i class="bi bi-arrow-left-circle"></i><span>Voltar</span></a>
<div class="container reedem">
  <form action="/reedem" method="POST">
    <div class="form-control reedem">
      <input type="password" name="password" placeholder="NOVA SENHA">
    </div>
    <input class="btn-reedem" type="submit" value="ENVIAR">
  </form>
</div>