<a href="/" class="btn-back"><i class="bi bi-caret-left-fill"></i><span>Voltar</span></a>
<div class="container">
  <h1 class="disclaimer">Por favor, insira alguns dados para confirmar quem é você!</h1>
  <form action="/reedem-password" method="POST">
    <div class="form-control reedem">
      <input type="text" name="name" placeholder="NOME COMPLETO" required>
      <input type="text" name="cpf" placeholder="CPF" required>
      <input type="email" name="email" placeholder="EMAIL" required>
      <input type="password" name="newPassword" placeholder="NOVA SENHA" required>
    </div>
    <input class="btn-reedem" type="submit" value="CONTINUAR">
  </form>
</div>