<div class="container">
  {{!-- Título --}}
  <div class="copy-container">
    <h1 class="copy-title">Te ajudamos ir onde quiser</h1>
    <h2 class="copy-subtitle">Realização de sonhos, vamos começar?</h2>
  </div>
  {{!-- Carrossel Imagens --}}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner home">
      <div class="carousel-item home active">
        <img
          src="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-viagem_114360-5843.jpg?w=826&t=st=1703254348~exp=1703254948~hmac=4805ab8466643cf99cd9bbcae9e10feecd506106caca4dcb3dc32b85f5779e82"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item home">
        <img
          src="https://img.freepik.com/vetores-gratis/pessoas-as-compras-com-sacolas_24908-56765.jpg?w=826&t=st=1703253879~exp=1703254479~hmac=940e6d04e978158a9740cba61dacf9eedaaf73a0015218969ecc22fa97be5ca5"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item home">
        <img
          src="https://img.freepik.com/vetores-gratis/homem-de-negocios-com-moedas-e-folhas_24877-54740.jpg?w=826&t=st=1703254490~exp=1703255090~hmac=f5cc54cd1b1338cd37a27635466de70e147c7630fdb2937b1b04c808f284c7ad"
          class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  {{!-- Login & Register --}}
  <div class="login-register">
    <a href="/login">ENTRAR</a>
    <a href="/register">REGISTRAR</a>
  </div>
  <p class="miss-account">Não possui uma <a class="miss-account-link" href="/register">conta?</a> Abra a sua agora
    mesmo!</p>
</div>