<div class="container">
  <header>
    <nav>
      <div class="logoImage">
        <img src="/images/miltlogo-p.png" alt="Logo Milt Bank">
      </div>
      <i id="toggleButton" class="bi bi-eye"></i>
      {{!-- <i class="hidden" class="bi bi-eye-slash"></i> --}}
      <div class="dropdown-center">
        <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Minha conta</a></li>
          <li><a class="dropdown-item" href="#">Configurações</a></li>
          <li><a class="dropdown-item" href="#">Suporte</a></li>
        </ul>
      </div>
    </nav>
    <div id="content">
      <p class="username">Olá, {{username}}</p>
      <p class="amount">R$ <span id="amount">{{amount}}</span></p>
      <div class="transactions">
        <p>Últimas ações</p>
      </div>
    </div>
  </header>
</div>