concluido com sucesso
voltar para pagina home
<div class="row">
  <div class="col-4">
    <a href="/milt/home" class="btn-back"><i class="bi bi-caret-left-fill"></i>Voltar</a>
  </div>
  <div class="col-4">
    <p class="text-header-pix-pay">Pagar Com Pix</p>
  </div>
</div>